name: Build Meme Downloader 2016 For Windows

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        
    - name: Build
      id: date
      run: chmod +x Build.sh && ./Build.sh && echo "::set-output name=today::$(date +"%d-%m-%y--%H-%M-%S")"
    
    - name: Upload Windows Debug
      uses: softprops/action-gh-release@v1
      with:
        files: |
            /home/runner/work/Meme-Downloader-2016/Meme-Downloader-2016/build/DEBUG-Meme Downloader 2016.exe
        name: Meme Downloader 2016 Auto-Build (Dev) (DEBUG) (Windows)
        tag_name: "${{ steps.date.outputs.today }}--DEBUG--Win"
      env:
        GITHUB_TOKEN: ${{ secrets.TEST }}
    
    - name: Upload Windows Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
            /home/runner/work/Meme-Downloader-2016/Meme-Downloader-2016/build/Meme Downloader 2016.exe
        name: Meme Downloader 2016 Auto-Build (Windows)
        tag_name: "${{ steps.date.outputs.today }}--Win"
      env:
        GITHUB_TOKEN: ${{ secrets.TEST }}
